.jumbotron{
	background-color: yellow;
	color: black;
	margin-top: 50px;
}

.footer{
	padding:1% 1% 1% 1%;
	background-color: yellow;
	margin:1% 1% 1% 1%;

}

.card-hotel {

	flex:1 250px;
	padding: 2px 5px 2px 5px;
	margin: 10px 2px 2px 2px;
}


.btn-reserva{
	width: 100%;
	position: relative;
}

.footer-address-icon{
	padding-right: 5px;
}